<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="clients.component.scss">
</head>
<body>
    <main>
        <h1>Cadastrar PetShop</h1>

        <div class="alternative">
            <span>OR</span>
        </div>

        <form action="">
            <label for="cnpj">
                <span>CNPJ</span>
                <input type="text" id="cnpj" name="cnpj">
            </label>

            <label for="email">
                <span>E-mail</span>
                <input type="email" id="email" name="email">
            </label>

            <label for="nome-fantasia">
                <span>Nome Fantasia</span>
                <input type="text" id="nome-fantasia" name="nome-fantasia">
            </label>

            <label for="nome-responsavel">
              <span>Responsável</span>
              <input type="text" id="nome-responsavel" name="nome-responsavel">
          </label>

          <label for="razao-social">
            <span>Razão Social</span>
            <input type="text" id="razao-social" name="razao-social">
        </label>

            <input type="submit" value="Cadastrar" id="button">
        </form>
    </main>
</body>
</html>
